*{
    box-sizing: border-box;
}
@font-face {
    font-family: "Gotham";
    src: url("./font/MiFuente/Gotham-Medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
    @font-face {
    font-family: "Gotham";
    src: url("./font/Gotham-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
body{
    margin: 0;
    font-family: Gotham, Arial, Helvetica, sans-serif;
}
.main-nav{
    background-color: red;
    color: white;
    display: flex;
    padding: .9rem;
    justify-content: space-between;
    font-size: larger;
}
main{
    padding: 4rem 1rem 1rem;
    background-color: #1d75de;
    color: white;
}
h1{
    margin: 0;
    font-size: calc(24px + 4 * ((100vw - 320px) / 160));
}
button{
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0b0909;
    color: white;
    border-radius: 5rem;
    border: none;
    padding: 10px 20px;
}
/* 
url("https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f")
url("https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137")
url("https://i.scdn.co/image/ab671c3d0000f4306998d3ffd58aad6da6afdf67")
url("https://content-tooling.spotifycdn.com/images/4a4fc24a-69b3-476b-b6d9-e7597cda526e_enhance_icon_(1).svg").svg)
*/