*{
    box-sizing: border-box;
}
@font-face {
    font-family: "Gotham";
    src: url("./font/Gotham-Book.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("./font/Gotham-Medium.otf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("./font/Gotham-Bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("./font/Gotham-Black.otf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
/* General labels style */
body{
    margin: 0;
    font-family: Gotham, Arial, Helvetica, sans-serif;
}
main{
    padding: 48px 15px 24px;
    background-color: #1d75de;
    color: white;
}
h1, h2{
    margin: 0;
    font-size: calc(22px + 4 * ((100vw - 320px) / 160));
    line-height: 30px;
}
h2{
    font-size: calc(24px + 4 * ((100vw - 320px) / 160));
}
h3, h4{
    margin: 0;
}
p{
    margin: 0;
    line-height: 25px;
    font-size: .89rem;
}
button{
    font-size: .785em;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #191414;
    border: solid #191414 2px;
    color: white;
    border-radius: 5rem;
    border: none;
    padding: 16px 30px;
    cursor: pointer;
    transition: all .05s;
}
/* Main nav */
.main-nav{
    height: 54px;
    padding: 0 15px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}
.main-nav i{
    font-size: 23px;
}
.main-nav-logo{
    height: 26px;
}
/* --------------------------- Page Content */
/* First section */
.main-h2{
    font-size: clamp(1.05rem, 2vw, 2rem);
    font-weight: normal;
    line-height: 28px;
    margin: 15px 0 12px;
}
.main-buttons{
    display: flex;
    flex-direction: column;
    margin: 1.1em 0;
}
.button-style-2{
    margin: 10px 0;
    background: none;
    border: solid #fff 2px;
}
button:hover{
    background-color: #0b0909;
}
.button-style-2:hover{
    background-color: rgba( 0, 0, 0, .15);
}
button:hover, .button-style-2:hover{
    transform: scale(1.035);
}
.main-tyc{
    font-size: .61rem;
    line-height: 16px;
    margin: 30px 0 0 0;
}
/* Second section */
.why-change, .choose{
    padding: 35px 15px;
}
.why-change h2{
    margin: 0 0 1.3em;
    text-align: center;
    font-weight: 800;
}
.why-cards{
    display: flex;
    margin-bottom: 20px;
}
.why-cards img{
    height: 5.6rem;
    margin-right: 20px;
}
.why-cards div{
    margin: 16px 0;
}
.why-cards h3{
    font-size: 1.22rem;
    margin-bottom: 10px;
}
/* Tirth section */
.choose{
    background: #efefef;
}
.choose-header{
    margin: 10px 0 50px;
    text-align: center;
}
.choose h2{
    letter-spacing: -1.28px;
    line-height: 1;
    font-size: 2rem;
}
.choose p{
    margin: 10px 0;
    line-height: 20px;
}
.choose-pay{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
}
.choose-pay img{
    height: 20px;
}
.card-plans{
    margin-top: 1rem;
    padding: 20px;
    background-color: #fff;
    border-radius: .7rem;
    box-shadow: 0 0 4px 3px rgba( 0, 0, 0, .15);
}
.card-plans ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.card-plans li{
    margin: 0 4px 17px 0;
}
.card-plans span{
    padding: 5px 7px;
    font-size: .8rem;
    font-weight: 700;
    border-radius: 3.5px;
}
.card-span-top{
    background-color: #0d72ea;
    color: #fff;
}
.card-span-btm{
    border: solid #0d72ea 1px;
    color: #0d72ea;
}
.card-plans h3{
    font-size: 1.5em;
}
.check-list{
    padding: 25px 0 15px!important;
    font-size: .87rem;
    line-height: 25px;
}
.check-list li{
    display: flex;
    margin: 0 0 7px !important;
}
.check-list i{
    padding-right: 15px;
    font-size: 1.5rem;
}
.card-plans button{
    width: 100%;
}
/* Footer */
footer{
    padding: 30px 1rem;
    background: #000;
    color: #fff;
}
footer img{
    height: 25px;
}
.abt-footer{
    margin-bottom: 120px;
}
dt{
    color: #919496;
    font-weight: 700;
    font-size: .7rem;
    margin: 30px 0;
}
dd{
    margin: 17px 0;
    font-size: .75rem;
}
.social-network{
    display: flex;
    gap: 20px;
}
.social-network div{
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 150%;
    justify-content: center;
    align-items: center;
    background-color: #222326;
    border-radius: 100rem;
}
.colombia{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .6rem;
    gap: 15px;
    color: #919496;
}
.colombia p{
    font-size: .6rem !important;
    padding-bottom: 2px;
}
.extra-footer{
    display: flex;
    justify-content: space-between;
    font-size: .6rem;
    color: #919496;
}
.extra-footer ul{
    list-style: none;
    padding: 0;
}
.extra-footer li{
    margin-bottom: 20px;
}
.extra-footer p{
    font-size: .6rem !important;
}
/* Media normal Phone */
@media(min-width:378px) {
    .main-tyc{
        font-size: .7rem;
    }
}
.card-plans p:last-of-type{
    margin: 14px 0 0;
    font-size: .7rem;
    color: rgb(83, 83, 83)
}